.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header {
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    height: 66px;
    display: flex;
    position: relative;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
}

.banner-in {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 13px;
    padding-top: 13px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1100px;
    margin-left: 125px;
    margin-right: 121px;
}

li {
    list-style: none;
}

.icon-link {
    margin-right: 20px;
}

.search-form {
    position: relative;
    margin-right: 5px;
}

span.searchIcon {
    fill: #757575;
    height: 14px;
    left: 8px;
    position: absolute;
    top: 10px;
    width: 14px;
}

.search-box > input {
    /*position: absolute;*/
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    /*background: #fff;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 35px;
    padding: 0 10px 0 32px;
    width: 300px;
    color: #757575;
}

button.close {
    display: none
}

.button-lg {
    height: 34px !important;
}

.top-nav {
    flex: 0 0 auto;
    margin-right: 20px;
}

.top-nav > ul {
    padding-left: 0px;
}

.top-nav > ul >li {
    display: inline-flex;
    margin-left: 20px;
}

.top-nav li a {
    text-decoration: none;
    color: #757575;
}

.top-nav a:hover {
    color: #424242;
}

.loginActions {
    flex: 1 0 auto;
    justify-content: flex-end;
    margin-left: 185px;
}

.signBtn {
    display: flex;
    margin: 0 0 0 5px;
}

.button > span {
    display: inline-flex;
    align-items: center;
    flex: 1;
}

.button {
    height: 30px;
    margin-left: 5px;
    border: 1px solid transparent;
    vertical-align: top;
    border-radius: 3px;
    padding-left: 13px;
    padding-right: 13px;
    font-weight: 600;
    font-size: 11px;
    line-height: 30px;
    text-align: center;
}

.simple-btn {
    background: #fff;
    border-color: #e8e8e8;
}

.default {
    background: white;
    border-color: #e8e8e8;
    color: black;
    fill: #000;
}

.orange {
    background: #da552f;
    color: white;
    text: white;
}

a {
    text-decoration: none;
}

.font {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-variant-numeric: tabular-nums;
}

.page-container {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    /* justify-content: space-between; */
    margin-top: 20px;
    min-width: 1100px;
    padding-left: 21px;
    padding-right: 28px;
    box-sizing: border-box;
    margin-left: 107px;
    margin-right: 107px;
    min-width: 320px;
}

.container {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.page-container > .main {
    padding: 10px;
    box-shadow: 2 0 0 5;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 67%;
}

.content {
    position: relative;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    background: white;
    margin-bottom: 20px;
}

.content-title {
    padding: 20px;
    border-bottom: 1px solid #e8e8e8;
}

.content > .item {
    border-bottom: 1px solid #e8e8e8;
    padding: 15px;
}

.content .item .link {
    display: flex;
}

.content .item .link img.product-img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.sub-link img.user-img {
    display: flex;
    border-radius: 50%;
    border: 1px solid;
    margin-left: -7px;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

aside.sidebar-right {
    margin-left: 10px;
    width: 31%;
    color: black;
    flex-direction: column;
}

.base-line {
    margin-top: 13px;
    color: black;
    fill: black;
    margin-left: 8px;
}

.smalltext {
    font-size: 13px !important;
}
.mg-20{
    margin: 20px;
}
.mg-l-4 {
    margin-left: 4px !important;
}

.mg-l-5 {
    margin-left: 5px !important;
}

.mg-l-20 {
    margin-left: 20px !important;
}
.mg-r-a{
    margin-right: auto;
}
.mg-r-3 {
    margin-right: 3px;
}

.mg-r-10 {
    margin-right: 10px !important;
}

.pd-20 {
    padding: 20px !important;
}

.pd-2 {
    padding: 2px !important;
}

.pd-10 {
    padding: 10px !important;
}

.pd-15 {
    padding: 15px !important;
}

.pd-l-10 {
    padding-left: 10px !important;
}

.pd-l-15 {
    padding-left: 15px !important;
}

.pd-l-20 {
    padding-left: 20px !important;
}

.pd-l-0 {
    padding-left: 0px !important;
}

.pd-r-0 {
    padding-right: 0px !important;
}

.pd-r-5 {
    padding-right: 5px !important;
}

.pd-r-15 {
    padding-right: 15px !important;
}

.pd-r-80 {
    padding-right: 80px !important;
}

.pd-t-0 {
    padding-top: 0px !important;
}

.pd-r-18 {
    padding-right: 18px;
}

.v-smalltext {
    font-size: 11px;
}

.product-name {
    font-weight: 300;
    font-size: 20px;
    line-height: 16px;
    color: #000;
}

.product-desc {
    margin-top: 8px;
}

.nb-subscribers {
    margin-left: 9px;
    padding-top: 5px;
}

.base-line .right {
    /*margin-left: 30em;*/
    position: absolute;
    right: 15px;
    border: 1px solid #e8e8e8;
}

.base-line .right span {
    padding-left: 8px;
    padding-right: 8px;
}

.text-grey {
    color: grey !important;
    fill: grey !important;
}

.container-foot {
    padding: 20px;
    font-size: 11px;
}

.container-foot a {
    color: #da552f;
}

.align-right {
    position: absolute;
    right: 20px;
}

.container-header {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 10px;
}

.img-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.img-container .user-img-box img {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    border: 1px solid;
}

.img-container .user-img-box {
    margin: 5px;
}

.single-line {
    justify-content: center;
    padding-top: 20px;
}

.hide {
    display: none;
}

.font-size-init {
    font-size: initial;
}

.mg-t-10 {
    margin-top: 10px;
}

.hg-100-pc {
    height: 100%;
}

.mg-b-0 {
    margin-bottom: 0px;
}

.mg-b-10 {
    margin-bottom: 10px;
}

.mg-b-20 {
    margin-bottom: 20px;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.mg-l-10 {
    margin-left: 10px;
}

.f-w-600 {
    font-weight: 600;
}

.text-black {
    color: #000 !important;
    fill: #000;
}

.h-85 {
    height: 85px;
}

.text-white {
    color: white;
    fill: white;
}

.wdth-100 {
    width: 100%;
}

.input {
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    /* background: #fff;*/
    box-sizing: border-box;
    height: 35px;
    padding: 0 10px 0 32px;
    width: 100%;
    color: #757575;
}

.mg-l-0 {
    margin-left: 0px;
}

.mg-l-2 {
    margin-left: 2px !important;
}

.mg-l-a {
    margin-left: auto;
}

.bold, strong {
    font-weight: 700;
}

.img-round {
    /*border: 1px solid transparent;*/
    border-radius: 50%;
}

.img-h-110 {
    height: 110px;
    width: 100%;
}

.img-60 {
    height: 60px;
    width: 60px;
}

.img-40 {
    height: 40px;
    width: 40px;
}

.img-30 {
    height: 30px;
    width: 30px;
}

.semibold {
    font-weight: 600;
}

.italic {
    font-weight: 200;
}

.flex-wrap {
    flex-wrap: wrap;
}

.icon {
    /*background-image: url(https://ph-static.imgix.net/upvote-burst-white.png?format=auto&auto=compress);*/
    background-repeat: no-repeat;
    background-size: 351px 15px;
    height: 15px;
    width: 15px;
}

.voteButton {
    height: 74px;
    width: 64px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex-direction: column;
}

.small-size {
    height: 25px;
    padding-left: 8px;
    padding-right: 8px;

}

.l-h-25 {
    line-height: 25px;
}

.h-24 {
    height: 24px;
    width: 24px;
}

.f-s-2em {
    font-size: 1.3em !important;
}

.al-center {
    text-align: center;
}

.l-page-container {
    box-sizing: border-box;
    margin-left: 51px;
    margin-right: 51px;
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 120px;
    margin-bottom: 30px;
}

.darkMode {
    background: #16161d;
    color: #6f6f6f;
    border-color: #3d3d3d !important;
}

.input-dark {
    background: #000;
    border: 1px solid #000 !important;
    color: #6f6f6f;
    fill: #6f6f6f;
}

.font-size-50 {
    font-size: 50px;
}

.title {
    font-size: 70px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
}
.sub-title{
    font-size: 26px;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
}
h1, h2, h3, h4, h5, h6, ol, p, ul {
    margin: 0;
    padding: 0;
}
.landscape{
    width: 100%;
    margin-top: -4px;
    margin-bottom: -10%;
    z-index: -1;
    /*position: relative;*/
}
.rocket-bottom {
    font-size: 25px;
    font-weight: lighter;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.seperator{
    height: 1px;
    width: 100%;
    background: -webkit-gradient(linear,left top,right top,from(#161616),color-stop(50.54%,#fff),to(#161616));
    background: linear-gradient(90deg,
    #161616,#fff 50.54%,
    #161616);
    margin: 45px 0 70px;
    margin-top: 45px;
    margin-right: 0px;
    margin-bottom: 70px;
    margin-left: 0px;
}
.f-w-light{
    font-weight: lighter;
}
.dropdown-menu{
    position: absolute;
    z-index: 10;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid #e8e8e8;
    padding: 10px;
    padding-top: 20px;
    left: 58%;
    top: 63px;
    font-size: 11px;
}
.dropdown-menu>li{
    margin-bottom: 15px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: left;
}
.pointer{
    cursor: pointer;
}